
<h2>Are you sure you want to Log out?</h2>


<form id="logoutForm" asp-controller="LogOut" asp-action="LoggingOut"> 
    <button type="submit" style="font-size: 17px;">
        Yes
    </button>
</form>


